$main-color: #579D45;
.vertical {
    border-left: thick solid #B5C0D9;
    width: 2px;
    height: 123px;
    opacity: 0.2;
}

.title {
    font-style: normal;
    font-weight: 800;
    font-size: 62px;
    line-height: 74px;
    text-align: center;
}